.account {
    padding-bottom: 16px !important;
}

.account::before {
    content: "Pet Platoon v1.1.0";
    color: #fff;
    font-size: 11px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
}

.account::after {
    bottom: 16px;
}

.message-group .avatar-large[style*='129303865161023488'] + .comment .user-name::after, /* TiaqoY0 */
.member-status .avatar-small[style*='129303865161023488'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='121875481258622976'] + .comment .user-name::after, /* Clock */
.member-status .avatar-small[style*='121875481258622976'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='123358756028284928'] + .comment .user-name::after, /* Gextroll */
.member-status .avatar-small[style*='123358756028284928'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='108712407236366336'] + .comment .user-name::after, /* Hoegnison */
.member-status .avatar-small[style*='108712407236366336'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='124173148915630080'] + .comment .user-name::after, /* Muffin */
.member-status .avatar-small[style*='124173148915630080'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='180432168936407040'] + .comment .user-name::after, /* Werekorden */
.member-status .avatar-small[style*='180432168936407040'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='123376331504222208'] + .comment .user-name::after, /* Monclefu */
.member-status .avatar-small[style*='123376331504222208'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='212286265758973953'] + .comment .user-name::after, /* Ribbon */
.member-status .avatar-small[style*='212286265758973953'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='163616161999749120'] + .comment .user-name::after, /* Ben */
.member-status .avatar-small[style*='163616161999749120'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='123825835814813698'] + .comment .user-name::after, /* Leroy */
.member-status .avatar-small[style*='123825835814813698'] + .member-inner .member-username::after {
    position: relative;
    height: 14px;
    padding: 1px 2px;
    border-radius: 3px;
    font-size: 11px;
    text-align: center;
    font-weight: 700;
    line-height: 15px;
    text-shadow: 0 0 1px rgba(0, 0, 0, .3);
    text-transform: uppercase;
    vertical-align: bottom;
    margin-left: 6px;
    background: rgba(100, 100, 100, 0.3);
    color: hsla(0, 0%, 100%, 0.6);
}

.message-group .avatar-large[style*='129303865161023488'] + .comment .user-name::after, /* TiaqoY0 */
.member-status .avatar-small[style*='129303865161023488'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='121875481258622976'] + .comment .user-name::after, /* Clock */
.member-status .avatar-small[style*='121875481258622976'] + .member-inner .member-username::after {
    content: "PP-Admin";
}

.message-group .avatar-large[style*='123358756028284928'] + .comment .user-name::after, /* Gextroll */
.member-status .avatar-small[style*='123358756028284928'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='108712407236366336'] + .comment .user-name::after, /* Hoegnison */
.member-status .avatar-small[style*='108712407236366336'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='124173148915630080'] + .comment .user-name::after, /* Muffin */
.member-status .avatar-small[style*='124173148915630080'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='180432168936407040'] + .comment .user-name::after, /* Werekorden */
.member-status .avatar-small[style*='180432168936407040'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='123376331504222208'] + .comment .user-name::after, /* Monclefu */
.member-status .avatar-small[style*='123376331504222208'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='212286265758973953'] + .comment .user-name::after, /* Ribbon */
.member-status .avatar-small[style*='212286265758973953'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='163616161999749120'] + .comment .user-name::after, /* Ben */
.member-status .avatar-small[style*='163616161999749120'] + .member-inner .member-username::after,
.message-group .avatar-large[style*='123825835814813698'] + .comment .user-name::after, /* Leroy */
.member-status .avatar-small[style*='123825835814813698'] + .member-inner .member-username::after {
    content: "PP-Mod";
}